{% extends "baseofblog.html" %}

{% block body_class %}blog{% endblock %}

{% block categorylist %}
   {% if category_list %}
      	   <div class="topside">Categories</div>	
	   <ul class="link_list">
  		    {% for title in category_list  %}
	    			<li><a href="/kgp/blog/categories/{{ title }}">{{ title }}</a></li>
		    {% endfor %}
   	   </ul>
	   <div class="topside">Other Options</div>
    	   <ul class= "link_list">
		<li><a href = "/kgp/blog/search/">Search</a></li>
	   </ul>
  {% endif %}
{% endblock %}

{% block monthlist %}
    {% if category_list %}
   	<div class="topside">Archive</div>
        <ul class="link_list">
		    {% for month,year in months %}
	    		<li><a href="/kgp/blog/{{year}}/{{month}}"> {{month}} {{year}}</a></li>
		    {% endfor %}		    
        </ul>	
    {% endif %}
{% endblock %}


