{% extends "/home/sumit/kgp-initial/basicapp/basic/blog/templates/base.html" %}

{% block content_title%}
<h1>Videos tagged {{tag}} </h1>
{% endblock %}

{% block content %}
	{% for video in videos_list %}		
		{% for video_tag in video.video_tag.all %}								
			{% ifequal video_tag.name tag %}				
				    <br>{{ video.video_embed_path|safe }}
				    <br>
				    <p>Description : {{ video.video_description }}</p>
			            <p><a href = "/videos/tags/">Tags</a> :  {% for tag in video.video_tag.all %} <a href = "/videos/tags/{{tag}}" >{{tag}}</a> {% endfor %} </p>
				    <br>				
			{% endifequal %} 
		{% endfor %}
	{%endfor%}
{% endblock %}

{% block video_taglist %}
   	<div class="topside">Tags</div>
        <ul class="link_list">
		    {% for tag in tag_list %}
	    		<li><a href="/videos/tags/{{tag.name}}"> {{tag}}</a></li>
		    {% endfor %}		    
        </ul>	
{% endblock %}
